body, html {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.hero-section {
    background-color: #1f2937;
    padding: 20px 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-text {
    color: #f9faf8;
    max-width: 450px;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.text2 {
    font-size: 18px;
    color: #b8babe;
    margin: 10px 0;
}

.bt {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image {
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder {
    background-color: gray;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.main-body {
    padding: 20px 100px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.main-text {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    font-size: 36px;
    color:#1f2937;
    font-weight:900;
}

.shapes-container {  /* Corrected class name */
    display: flex;
    flex-direction: row;  /* Stack items in a column */
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.shape-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.shape1 {
    width:200px;
    height:200px;
    border:3px solid #3882f6;
    border-radius: 15px;
}

.main-body2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 400px;
}

.quote {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.citation {
    color: black;
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 25px;
}