.hero-section {
    background-color: #1f2937; /* Ensure everything is in the blue area */
    padding: 20px;
}

.top {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f2937;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}