.hero-section {
    background-color: #1f2937; /* Ensure everything is in the blue area */
    padding: 20px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.top {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f2937;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.text {
    color: #f9faf8;
    max-width: 450px;
    font-size: 20px;
    font-weight: 200;
}

.text2 {
    color: #f9faf8;
    font-size: 18px;
}

.image-placeholder img {
    width: 400px; /* Adjust size as needed */
    height: auto;
}

.bt {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    border-radius: 15px;
}